<?xml version="1.0" encoding="utf-8"?>
<manifest>
    <application>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.zz143.android.ZZ143Initializer"
                android:value="androidx.startup" />
        </provider>

        <service
            android:name="com.zz143.android.accessibility.ZZ143AccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/zz143_accessibility_config" />
        </service>
    </application>
</manifest>
